@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgn-main: #70ff0225;
    --bgn-herotext: white;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-bottom: 70px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero {
    background-color: var(--bgn-herotext);
    height: 60vh;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 30px;
    gap: 20px;
}

.hero-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    width: 500px;
    /* gap: 15px; */
}

.hero-img {
    height: 350px;
}

.hero-img img {
    display: flex;
    justify-content: center;
    height: 100%;
    width: auto;
    border-radius: 20px;
}

h1 {
    font-size: 3rem;
    font-style: medium;
    font-weight: 700;
}

.hashtag {
    font-style: italic;
    font-weight: lighter;
}

.p-hero {
    margin: 20px 0px 20px 0px;
}

.botones {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.btn-insc {
    text-decoration: none;
    background: var(--bgn-main);
    padding: 10px;
    border-radius: 20px;
    color: black;
}
.btn-insc:hover {
    background: rgb(182, 178, 178);
}

.btn-mas {
    text-decoration: none;
    background: var(--bgn-main);
    padding: 10px;
    border-radius: 20px;
    color: black;
}
.btn-mas:hover {
    background: rgb(182, 178, 178);
}

.nav {
    margin-top: 50px;
    background: rgb(178, 248, 192);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    cursor: pointer;
}

.item:hover {
    background: #11998e;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
}

.menu-toggle {
    display: none;
}

.list-item {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.item {
    display: flex;
    gap: 50px;
}

article {
    background: white;
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin-top: 20px;
    border-radius: 0 20px 0px 20px;
}

.talleres {
    display: flex;
    /* background: red; */
    justify-content: center;
    margin-top: 20px;
    font-size: 2rem;
}

.taller-text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 40px 0px 40px;
    margin: 10px;
}

@media screen and (max-width: 750px) {
    body {
    display: flex;
    width: 100vw;
    height: 100%;
}

    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero {
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
        max-width: 90%;
    }

    .hero-text {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .p-hero {
        display: flex;
        align-items: center;
        width: 60%;
    }

    .botones {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    /* .btn-insc {
        display: flex;
        justify-content: space-between;
    }

    .btn-mas {
        display: flex;
    } */

    .hero-img {
        height: 310px;
    }

    article {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .talleres {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
    }

    .menu-boton {
        background: red;
        width: 60px;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 8px;
        padding: 10px;
        margin: 20px;
    }

    .menu-boton span {
        width: 30px;
        height: 4px;
        background: white;
    }

    .menu-toggle {
        display: none;
    }

    .list-item {
        display: flex;
        /* flex-direction: column; */
        text-align: center;
        background: salmon;
        padding: 20px;
    }

    .list-item li {
        list-style-type: none;
    }

    .menu-boton:checked + .list-item {
        display: block;
    }
}